<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单输入绑定</title>
    <link rel="stylesheet" href="lib/common.css">
    <script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
    <h2 class="text-title">基础用法</h2>
    <div class="content-box">
        <p>你可以用 v-model 指令在表单 [input] 及 [textarea] 元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，但 v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。</p>

        <p class="color-purple">v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。</p>

        <p class="color-purple">对于需要使用输入法 (如中文、日文、韩文等) 的语言，你会发现 v-model 不会在输入法组合文字过程中得到更新。如果你也想处理这个过程，请使用 input 事件。</p>

    </div>

    <h2 class="text-title">#文本</h2>
    <div class="content-box">
        <div id="inputEx">
            <input v-model="message" placeholder="edit me">
            <p>Message is: {{ message }}</p>
        </div>
    </div>

    <h2 class="text-title">#多行文本</h2>
    <div class="content-box">
        <div id="textAreaEx">
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;"> {{ message }}</p><br>
            <textarea v-model="message" placeholder="add multiple lines"></textarea>
        </div>

        <p class="color-purple">在文本区域插值 (《textarea》《/textarea》) 并不会生效，应用 v-model 来代替。</p>
    </div>

    <h2 class="text-title">#复选框</h2>
    <div class="content-box">
        <p>单个复选框,绑定到布尔值:</p>
        <div id="checkBoxEx">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox"> {{ checked }} </label>
        </div>

        <p>多个复选框,绑定到同一个数组：</p>
        <div id="multiCheckbox">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

    </div>

    <h2 class="text-title">#单选按钮</h2>
    <div class="content-box">
        <div id="radioEx">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>
    </div>

    <h2 class="text-title">#选择框</h2>
    <div class="content-box">
        <p>单选时:</p>

        <div id="singleSelctEx">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

        <p class="color-purple">如果 v-model 表达式的初始值未能匹配任何选项，[select] 元素将被渲染为“未选中”状态。在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。因此，更推荐像上面这样提供一个值为空的禁用选项。</p>
    
        <p>多选时(绑定到一个数组):</p>
        <div id="multiSelectEx">
            <select v-model="selected" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>

        <p>用 [v-for] 渲染的动态选项:</p>

        <div id="forSelectEx">
            <select v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

    </div>

    <h2 class="text-title">值绑定</h2>
    <div class="content-box">
        <p>对于单选按钮，复选框及选择框的选项，v-model 绑定的值通常是静态字符串 (对于复选框也可以是布尔值)：</p>

        <p>
            当选中时，`picked` 为字符串 "a"<br><br>
            《input type="radio" v-model="picked" value="a"》
        </p>

        <p>
            `toggle` 为 true 或 false<br><br>
            《input type="checkbox" v-model="toggle"》
        </p>

        <p>
            `toggle` 为 true 或 false<br><br>
            《select v-model="selected"》<br>
&nbsp;&nbsp;&nbsp;&nbsp;《option value="abc"》ABC《/option》<br>
            《/select》<br>
        </p>

        <p>但是有时我们可能想把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。</p>

        <p>#复选框</p>

        《input<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type="checkbox"<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v-model="toggle"<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v-bind:true-value="a"<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v-bind:false-value="b"<br>
&nbsp;&nbsp;&nbsp;》

        <p>vm.pick === vm.a //当选中时</p>

        <p>#单选按钮</p>
        
        《input type="radio" v-model="pick" v-bind:value="a"》

        <p>vm.pick === vm.a //当选中时</p>

        <p>#选择框的选项</p>

        《select v-model="selected"》<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内联对象字面量<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《option v-bind:value="{ number: 123 }"》123《/option》<br>
        《/select》

        <p>
            当选中时<br>
            typeof vm.selected  //=> 'object'<br>
            vm.selected.number  //=> '123'
        </p>
    </div>

    <h2 class="text-title">修饰符</h2>
    <div class="content-box">
        <h4># <span class="color-warn">.lazy</span></h4>
        <p>在默认情况下，v-model 在每次 input 事件触发后将输入框的值与数据进行同步 (除了上述输入法组合文字时)。你可以添加 lazy 修饰符，从而转变为使用 change 事件进行同步：</p>
        <p>
            在“change”时而非“input”时更新<br>
            《input v-model.lazy="msg" 》
        </p>

        <h4># <span class="color-warn">.number</span></h4>
        <p>如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：</p>
        <p>
            《input v-model.number="age" type="number" 》<br>
            <span class="color-purple">如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：</span>
        </p>

        <h4># <span class="color-warn">.trim</span></h4>
        <p>如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：</p>
        <p>
            《input v-model.trim="msg" 》
        </p>
    </div>

    <h2 class="text-title">在组件上使用 v-model</h2>
    <div class="content-box">
        <p>HTML 原生的输入元素类型并不总能满足需求。幸好，Vue 的组件系统允许你创建具有完全自定义行为且可复用的输入组件。这些输入组件甚至可以和 v-model 一起使用！要了解更多，请参阅组件指南中的自定义输入组件。</p>
    </div>

    <script type="text/javascript" charset="utf-8">
        var inputEx = new Vue({
            el: '#inputEx',
            data: {
                message: ''
            }
        })

        var textAreaEx = new Vue({
            el: '#textAreaEx',
            data: {
                message: ''
            }
        })

        var checkBoxEx = new Vue({
            el: '#checkBoxEx',
            data: {
                checked: false
            }
        })

        var multiCheckbox = new Vue({
            el: '#multiCheckbox',
            data: {
                checkedNames: []
            }
        })

        var radioEx = new Vue({
            el: '#radioEx',
            data: {
                picked: ''
            }
        })

        var singleSelctEx = new Vue({
            el: '#singleSelctEx',
            data: {
                selected: ''
            }
        })

        var multiSelectEx = new Vue({
            el: '#multiSelectEx',
            data: {
                selected: []
            }
        })

        var forSelectEx = new Vue({
            el: '#forSelectEx',
            data: {
                selected: 'A',
                options: [
                    { text: 'one', value: 'A'},
                    { text: 'two', value: 'B'},
                    { text: 'three', value: 'C'},
                ]
            }
        })
        
    </script>
</body>
</html>